---
interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
const fullTitle = `${title} | YHT's Image Functions`;
---
<html lang="en">
<head>
  <meta charset="UTF-8"/>

  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="/favicon.png"/>
  <title>{fullTitle}</title>
  <meta name="title" content={fullTitle}/>
  <meta name="description" content={description}/>

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content={fullTitle}/>
  <meta property="og:description" content={description}/>

  <!-- Twitter -->
  <meta property="twitter:title" content={fullTitle}/>
  <meta property="twitter:description" content={description}/>
</head>
<body>
<main>
  <slot/>
</main>
</body>
</html>
<style is:global>
  main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    font-weight: normal;
    vertical-align: baseline;
    overflow-wrap: break-word;
    -webkit-font-smoothing: antialiased;
  }

  body {
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #111111;
    color: white;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  button {
    border: none;
    background: none;
    outline: none;
    font-size: inherit;
  }

  button:focus-visible {
    outline: 2px solid black;
  }

  input {
    border: none;
    outline: none;
  }

  input:focus-visible {
    outline: 2px solid black;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  .button {
    background-color: #007bff;
    border-radius: 0.25rem;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;

    &:disabled {
      background-color: #6c757d;
      cursor: not-allowed;
    }
  }
</style>
